Data source https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction

Business Problem?
- How to improve airline customer experience?

In [47]:
import pandas as pd
pd.options.display.max_columns=30
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [48]:
df = pd.read_csv('data/train.csv')
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
Unnamed: 0                           103904 non-null int64
id                                   103904 non-null int64
Gender                               103904 non-null object
Customer Type                        103904 non-null object
Age                                  103904 non-null int64
Type of Travel                       103904 non-null object
Class                                103904 non-null object
Flight Distance                      103904 non-null int64
Inflight wifi service                103904 non-null int64
Departure/Arrival time convenient    103904 non-null int64
Ease of Online booking               103904 non-null int64
Gate location                        103904 non-null int64
Food and drink                       103904 non-null int64
Online boarding                      103904 non-null int64
Seat comfort                         103904 non-null int64
Inflight entertainment               103904 non-null int64
On-board service                     103904 non-null int64
Leg room service                     103904 non-null int64
Baggage handling                     103904 non-null int64
Checkin service                      103904 non-null int64
Inflight service                     103904 non-null int64
Cleanliness                          103904 non-null int64
Departure Delay in Minutes           103904 non-null int64
Arrival Delay in Minutes             103594 non-null float64
satisfaction                         103904 non-null object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [51]:
df.isna().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [49]:
df['Customer Type'].value_counts(normalize=True)

Loyal Customer       0.817322
disloyal Customer    0.182678
Name: Customer Type, dtype: float64

In [52]:
df['Class'].value_counts(normalize=True)

Business    0.477989
Eco         0.449886
Eco Plus    0.072124
Name: Class, dtype: float64

In [53]:
df['satisfaction'].value_counts(normalize=True)

neutral or dissatisfied    0.566667
satisfied                  0.433333
Name: satisfaction, dtype: float64

In [55]:
pd.DataFrame(df1.groupby(['Class', 'satisfaction'])['satisfaction'].count())

                                  satisfaction
Class    satisfaction
Business neutral or dissatisfied         15185
         satisfied                       34480
Eco      neutral or dissatisfied         38044
         satisfied                        8701
Eco Plus neutral or dissatisfied          5650
         satisfied                        1844